@{
    ViewBag.Title = "我的記賬本";
}
@model MVCHomeWorkMoneyTemplate.ViewModels.DailyAccountViewModel


<div class="well">
    @using (Html.BeginForm("Create", "Home", FormMethod.Post, new { @class = "form-horizontal", @id = "DataForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(Model => Model.CategoryID, null, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.Action("GetCategoryDDL")
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(Model => Model.Money, null, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.EditorFor(Model => Model.Money, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(Model => Model.Money, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(Model => Model.Date, null, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.TextBoxFor(Model => Model.Date, new { @class = "form-control", data_datepicker = "" })
                @Html.ValidationMessageFor(Model => Model.Date, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(Model => Model.Description, null, new { @class = "col-sm-2 control-label" })

            <div class="col-sm-10">
                @Html.TextAreaFor(Model => Model.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(Model => Model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-8 col-sm-4">
                <button type="submit" class="btn btn-default">送出</button>
            </div>
        </div>
    }
</div>

<div class="row">
    <div class="col-md-12">
        @Html.Action("List")
    </div>
</div>
