@{
    ViewBag.Title = "我的記賬本";
}
@model MVCHomeWorkMoneyTemplate.ViewModels.DailyAccountViewModel


<div class="well">
    @using (Html.BeginForm("Create", "Home", FormMethod.Post,new { @class= "form-horizontal" }))
    {
        @*<form class="form-horizontal">*@
        <div class="form-group">
            <label for="category" class="col-sm-2 control-label">類別</label>
            <div class="col-sm-10">
                @Html.Action("GetCategoryDDL")
            </div>
        </div>
        <div class="form-group">
            <label for="money" class="col-sm-2 control-label">金額</label>
            <div class="col-sm-10">
                @*<input type="text" class="form-control" id="money" placeholder="金額">*@
                @Html.EditorFor(Model => Model.Money, new { @type= "text", @id = "money", @name = "Money", @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label for="date" class="col-sm-2 control-label">日期</label>
            <div class="col-sm-10">
                @*<input type="text" class="form-control" id="date" placeholder="日期">*@
                @Html.EditorFor(Model => Model.Date, new { @type = "text", @id = "date", @name = "Date", @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">備註</label>
            <div class="col-sm-10">
                @Html.TextAreaFor(Model => Model.Description, new { @id = "description", @name = "Description", @class = "form-control" })
                @*<textarea class="form-control" id="description">
                    </textarea>*@
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-8 col-sm-4">
                <button type="submit" class="btn btn-default">送出</button>
            </div>
        </div>
        @*</form>*@
    }
</div>

<div class="row">
    <div class="col-md-12">
        @Html.Action("List")
    </div>
</div>
