@using MVCHomeWorkMoneyTemplate.Helper
@model IEnumerable<MVCHomeWorkMoneyTemplate.ViewModels.DailyAccountViewModel>
@{
    Layout = null;
}
<table class="table table-bordered table-hover">
    <tr>
        <th>
            #
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Money)
        </th>
    </tr>
    @{
        int i = 0;
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @(++i)
                </td>
                <td>
                    @Html.DisplayCategoryType(item.CategoryID, item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date, "DateTimeTemplate")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Money, "MoneyTemplate")
                </td>
            </tr>
        }
    }
</table>
