@using MVCHomeWorkMoneyTemplate.Helper
@using PagedList.Mvc
@model PagedList.IPagedList<MVCHomeWorkMoneyTemplate.ViewModels.DailyAccountViewModel>
@{
    Layout = null;
}
@section css{
    <link href="~/Content/PagedList.css" rel="stylesheet" />
}
<table class="table table-bordered table-hover">
    <tr>
        <th>
            #
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Money)
        </th>
    </tr>
    @{
        int i = 0 + (int)ViewData["PageNumber"] * 10;
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @(++i)
                </td>
                <td>
                    @Html.DisplayCategoryType(item.CategoryID, item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date, "DateTimeTemplate")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Money, "MoneyTemplate")
                </td>
            </tr>
        }
    }
</table>
@Html.PagedListPager(Model, Page => Url.Action("Index", new { Page }))
