@using MVCHomeWorkMoneyTemplate.Helper
@using PagedList.Mvc
@model PagedList.IPagedList<MVCHomeWorkMoneyTemplate.ViewModels.DailyAccountViewModel>
@{
    Layout = null;
}
@section css{
    @*你在 Layout 根本沒有 css 這個 section 你頁面上用 section css 想塞哪去？*@
    <link href="~/Content/PagedList.css" rel="stylesheet" />
}
<table class="table table-bordered table-hover">
    <tr>
        <th>
            #
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Money)
        </th>
        <th>
            @Html.Label("修改")
        </th>
    </tr>
    @{
        int i = 0 + (Model.PageNumber - 1) * 10;
        foreach (var item in Model)
        {
    <tr>
        <td>
            @(++i)
        </td>
        <td>
            @Html.DisplayCategoryType(item.CategoryID, item.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Money, "MoneyTemplate")
        </td>
        <td>
           @Html.ActionLink("修改","Edit",new { id = item.Id})
        </td>
    </tr>
        }
    }
</table>
@Html.PagedListPager(Model, Page => Url.Action("Index", new { Page }))
